################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MBTilesPersistentCache/.vs/MBTilesPersistentCache
/MBTilesPersistentCache/bin/Debug/netcoreapp3.1
/MBTilesPersistentCache/obj
